.header {
    padding: 24px 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 41px;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}

.icon {
    margin-right: 5px;
}

.login {
    font-weight: 500;
}