.header {
    padding: 24px 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 41px;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}

.icon {
    margin-right: 5px;
}

.login {
    font-weight: 500;
}

/* Responsive Styles */
@media (max-width: 900px) {
    .header {
        padding: 14px 18px;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav ul {
        display: none; /* Hide the nav links */
    }
}